.personData{
    max-width: 300px;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 5px;
    color: var(--color-white);
    padding: 20px;
    margin-left: 20px;
}
.personData__item{
    padding: 5px;
    margin-bottom: 5px;
}
.personData__name{
    text-decoration: underline;
    text-shadow: var(--text-shadow-blue-small);
}

@media screen and (max-width: 700px) {
    .personData {
        max-width: 100%;
        margin: 20px 0 0 0;
    }
}