.navigator{
    display: flex;
    justify-content: center;
}
.button{
    cursor: pointer;
    border: 2px solid var(--color-white);
    border-radius: 10px;
    color: var(--color-white);
    padding: 15px;
    font-weight: bold;
}